---
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
TabWidth: '4'
UseTab: Always
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ReflowComments: 'true'
SpacesInParentheses: 'true'
...
