[Desktop Entry]
Version=1.0
Type=Application
Name=Lock screen
Comment=Lock screen
Exec=slock
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
