[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown
Comment=Shutting down
Exec=~/scripts/shutdown.sh
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
